@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bungee Spice", cursive;
}
body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: #0e1538;
}
